$base-color: #273;
$text-color: #fff;

body{
    margin: 0px auto;
    width: 80%;
    background: $base-color;
    color: $text-color;
}

.imageWrapper {
    position: relative;
}

.overlayImage {
    position: absolute;
    top: 0;
    left: 0;
}